{%extends "home/base.html"%}
{%block content%}
    <h1>About Us!</h1>
    <div class="mt-4">
    <p>
        We are a team of 4 people, pursuing Bachelors in Copmuter Engineering from Thapar Institute of Engineering and Technology, Patiala. 
        Our beloved <i>Cipher Craft</i> was made as an acadamic project for Software Engineering Course and is now an open-source tool.
    </p>
    <p>
        Cipher and decipher text using various algorithms. Currently released on GitHub as an open-source projec,
        Cipher Craft is a Django-based web application written on Python 3. Visitors can make use of its features to encrypt English to various ciphers and vice-versa.
    </p>
    </div>
{%endblock content%}