{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{%block content %}
    <div class="content-section">
        <form  method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 bodcol cipher-heading">
                    {{title}}
                </legend>
                {{ form|crispy }}
                <br>
                <textarea class="mt-10 form-control" onkeyup="textAreaAdjust(this)" style="overflow:hidden" name="" id="" disabled>{{output_text}}</textarea>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-success" type="submit">
                  Evaluate
                </button>
            </div>
        </form>
        <div class="pt-5 mt-5 border-top bodcol ">
            {% include about %}
        </div>
    </div>
{% endblock %}