<h4 class="card-title">
    About the Vigenère Cipher
</h4>

<p class="card-text">
    Vigenere Cipher is a method of encrypting alphabetic text. It uses a simple form of polyalphabetic substitution. A polyalphabetic cipher is any cipher based on substitution, using multiple substitution alphabets. The encryption of the original text is done using the Vigenère square or Vigenère table.</p>

<p class="card-text">
    <ul>
        <li>The table consists of the alphabets written out 26 times in different rows, each alphabet shifted cyclically to the left compared to the previous alphabet, corresponding to the 26 possible Caesar Ciphers.
        </li>
        <li>
            At different points in the encryption process, the cipher uses a different alphabet from one of the rows.
        </li>
        The alphabet used at each point depends on a repeating keyword.
    </ul>
</p>
<p>
    <strong>Encryption</strong><br>
    The plaintext(P) and key(K) are added modulo 26. <br>
    Ei = (Pi + Ki) mod 26 <br>
    <br>
    <strong>Decryption</strong> <br>
    Di = (Ei - Ki + 26) mod 26
</p>
<p class="card-subtitle mb-2 text-muted">
    Retrieved from <a href="https://www.geeksforgeeks.org/vigenere-cipher/">www.geeksforgeeks.org/vigenere-cipher/</a>
</p>
