{%extends "home/base.html"%}
{% load crispy_forms_tags %}
{%block content%}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom bodcol mb-4">
                    Join Today!
                </legend>
                {{form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-success" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top bodcol pt-3">
            <small class="text-muted">Already have an account? <a href="{%url 'user_login'%}" class="ml-2">Log In</a> </small>
        </div>
    </div>
{%endblock content%}