body {
    background: #DFF1AC !important;
    border-color:  #000000 !important;
    color: #046E3E;
    margin-top: 5rem;
    font-family: 'NanumMyeongjo';
    font-style: normal;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bodcol{
    border-color: #000000 !important;
  }

  .bgcol{
    background: #DFF1AC !important;
  }

  .bg-steel {
    background: linear-gradient(90.27deg, #254A25 -0.97%, #2AAF2A 97.68%);
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    padding: 10px 20px;
    border: 1px solid #000000;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #000000
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .cipher-heading{
    background-image: url(https://cdn.discordapp.com/attachments/841730659605282836/1035492899216953354/Heading_bg_new.png);
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text ;
    -webkit-text-fill-color: transparent;
    font-family: 'Himagsikan';
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    -webkit-font-smoothing: antialiased;
    /* line-height: 104px; */
  }

  a:link {
    color: rgb(147, 76, 213);
  }
  
  /* visited link */
  a:visited {
    color: rgb(147, 76, 213);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(62, 193, 50);
  }
  
  /* selected link */
  a:active {
    color: rgb(255, 0, 0);
  }

  textarea {
    min-height: 60px;
    overflow-y: auto;
    word-wrap:break-word
    }